[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=containerd.service
Requires=containerd.service

[Service]
ExecStart=/usr/local/bin/kubelet \
  --config=/etc/kubernetes/config/system:node:{{ inventory_hostname }}.yml \
  --container-runtime=remote \
  --container-runtime-endpoint=unix:///var/run/containerd/containerd.sock \
  --kubeconfig=/etc/kubernetes/config/system:node:{{ inventory_hostname }}.kubeconfig \
  --network-plugin=cni
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target