[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --advertise-address={{ ansible_default_ipv4.address }} \
  --allow-privileged=true \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --secure-port={{ cluster_port }} \
  --client-ca-file=/etc/kubernetes/pki/ca.pem \
  --etcd-cafile=/etc/etcd/pki/ca.pem \
  --etcd-certfile=/etc/etcd/pki/etcd.pem \
  --etcd-keyfile=/etc/etcd/pki/etcd-key.pem \
  --etcd-servers={% for h in groups['etcd'] %}https://{{ hostvars[h].ansible_default_ipv4.address }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
  --encryption-provider-config=/etc/kubernetes/config/encryption-config.yml \
  --kubelet-certificate-authority=/etc/kubernetes/pki/ca.pem \
  --kubelet-client-certificate=/etc/kubernetes/pki/kubelet-peer.pem \
  --kubelet-client-key=/etc/kubernetes/pki/kubelet-peer-key.pem \
  --runtime-config=api/all=true \
  --service-account-signing-key-file=/etc/kubernetes/pki/service-account-key.pem \
  --service-account-key-file=/etc/kubernetes/pki/service-account.pem \
  --service-account-issuer=api \
  --service-cluster-ip-range=10.32.0.0/24 \
  --tls-cert-file=/etc/kubernetes/pki/apiserver.pem \
  --tls-private-key-file=/etc/kubernetes/pki/apiserver-key.pem{% for flag in flags_apiserver %} \
  {{ flag }}{% endfor %}
  
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
